.skills {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/bacon.svg");
      background-repeat: repeat-x;
      background-position: 0 1.06em;
      background-size: 28px 9px;
      color: #9e4446;
      max-width: 120px;
      margin: 0 auto;
}